services:
  server:
    build:
      context: .
      dockerfile: Dockerfile
    image: matura-webt-server
    restart: unless-stopped
    environment:
      DATABASE_URL: sqlite:///%kernel.project_dir%/var/data.db
    ports:
      - "${HTTP_PORT:-80}:80"

  vue:
    build:
      context: ./_clientside/vue-project
      dockerfile: Dockerfile
    image: matura-webt-vue
    restart: unless-stopped
    ports:
      - "${VUE_PORT:-5173}:5173"
    volumes:
      - ./_clientside/vue-project/src:/app/src

  react:
    build:
      context: ./_clientside/react-project
      dockerfile: Dockerfile
    image: matura-webt-react
    restart: unless-stopped
    ports:
      - "${REACT_PORT:-5174}:5174"
    volumes:
      - ./_clientside/react-project/src:/app/src
